<div class="d-flex justify-content-start">
    <button class="fb">
        <i class="fab fa-facebook-f"></i>
    </button>
    <button class="linkedin">
        <i class="fab fa-linkedin-in"></i>
    </button>
    <button class="twitter">
        <i class="fab fa-twitter"></i>
    </button>
</div>

<br>

<div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Videos /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">People /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Documents /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Communities /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Channels</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

<!-- Footer -->
<div class="container-fluid" class="footer">
    <div class="row">
        <div class="col-md-12">
            <p> &copy; Copyright 2013.companyname.inc</p>
            <h5>Privacy/Terms</h5>
        </div>
    </div>
</div>
<!-- End Of Footer -->