<div class="container-fluid" class="header">
    <div class="row">
        <div class="col-md-2">
            <span class="navbar-brand h1">Social<b>Network</b></span>
        </div>
        <div class="col-md-5">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Find.." aria-label="Search"
                    aria-describedby="search-addon" />
                <button class="input-group-text" id="search-addon">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit nav-upload"> <i class="fa fa-upload nav-upload"></i> Upload</button>
        </div>
        <div class="col-md-3">
            <button>
                <i
                    class="fa fa-user mt-auto mb-auto icon-nav secondary-background p-3 rounded primary-background-text"></i>
            </button>
            <span>
                Waseem Arshad
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <mat-divider></mat-divider>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Videos /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">People /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documents /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Communities /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Favorites /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Channels</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <mat-divider></mat-divider>
    </div>

    <div class="videos">
        <app-videos></app-videos>
    </div>