
.d-flex.flex-row.bd-highlight.mb-0 {
    color: rgb(255, 255, 153);
}
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
.card-img-top-1 {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}
.card-img-top-2 {
    width: 100%;
    height: 5vh;
    margin-bottom: 20px;
    object-fit: cover;

}
.garis-videos {
    margin-bottom: 15px;
}

.videos{
    position:relative;
    left:13px;
}

.browse{
    position:relative;
    left:460px;
}
.activity{
    position:relative;
    left:850px;
}
.timeline{
    position:relative;
    left:900px;
}
.card.small-1{
    margin-bottom:10px;
    height: 60px;
}

.col-6-md.text{
    margin-left:0px;
    padding:0px;
}
.image{
    height:60%;
    width:20%;
}
.people{
    margin-top:10px;
}
.ml-auto.p-0.bd-highlight {
    color: red;
}
.mr-auto.p-0.bd-highlight {
    color: red;
}